RewriteEngine On

RewriteRule ^api/place-info$ /place-info.php [L,QSA]
RewriteRule ^api/place-photo$ /place-info.php [L,QSA]
RewriteRule ^api/place-reviews$ /place-reviews.php [L,QSA]
RewriteRule ^singluten(?:/(.*))?$ https://singlutenlife.site/$1 [R=301,L]

